<div class="modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Register new user</h3>
      </div>
      <div class="modal-body">
        <form action="#" name="signUpForm">
          <input type="text" name="name" required placeholder="Full name" ng-model="vm.fullName">
          <input type="email" name="email" required placeholder="Email address" ng-model="vm.email">
          <input type="password" name="password" placeholder="New password" ng-model="vm.password">
          <input type="password" required placeholder="Confirm password" ng-model="vm.confirmPassword" ng-enter="submit($hide)">
        </form>
        <button class="btn-blue submit">Sign Up</button>
      </div>
    </div>
  </div>
</div>
