<div class="Main">
  <div class="sidebar" ng-show="main.isSidebarOpen" bc-click-outside="main.isSidebarOpen = false">
    <dc-sidebar class="Main_sidebar"></dc-sidebar>
  </div>
  <bc-clock></bc-clock>
  <div class="Main_container">
    <div class="Main_container_header">
      <div class="Main_container_header_authBlock">
        <button class="sign-up" ng-click="main.openSignUp()">Sign Up</button>
        <button class="sign-in" ng-click="main.openSignIn()">Sign In</button>
      </div>
    </div>
    <button ng-click="main.showSidebar()"><span class="glyphicon glyphicon-align-justify"></span></button>
  </div>
</div>
