<div class="signup_body">
  <form class="signup_body_form" name="signUpForm">
    <input type="text" name="fName" required placeholder="First Name" ng-model="signup.firstName">
    <input type="text" name="lName" required placeholder="Last Name" ng-model="signup.lastName">
    <input type="email" name="email" required placeholder="Email address" ng-model="signup.email">
    <input type="password" name="password" required placeholder="New password" ng-model="signup.password">
    <input type="password" required placeholder="Confirm password" ng-model="signup.confirmPassword">
  </form>
  <button class="btn-blue signup_body_saveBtn" ng-click="signup.saveUser('save')">SAVE</button>
</div>
